@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    PO Box 777<br />
    Fort Worth,TX 76106<br />
    <abbr title="Phone">P:</abbr>
    682.221.8005
</address>

<address>
    <strong>Support:</strong> <a href="mailto:jeffreyraley@gmail.com">Admin:  jeffreyraley@gmail.com</a><br />
</address>
