@{
    ViewData["Title"] = "Home Page";
}
<br />
<br/>
<div class="row">
    <div class="col-md-3">
        <p>Welcome to our page.  We are a growing social media site dedicated to helping Catholics connect</p>
    </div>
    <div class="col-md-8">
        <img src="~/images/eCatholic-stock-photo-136.jpg" width=500px>
        <br/>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        
    </div>
    <div class="col-md-8">
        <img src="~/images/sitelogo.png">
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6">
        <img src="~/images/eCatholic-stock-photo-52.jpg" height="300px" alt="Bible on Stand for Mass Reading">
    </div>
    <div class="col-md-6">
        <div class="cg_mrc_widget cg_mrc_widget_hor"></div>
        <script src="https://cdn1.catholicgallery.org/wp-content/uploads/widgets/rich-card/cg_mrc_widget.js" async></script>
    </div>
</div>



