@{
    ViewData["Title"] = "Home Page";
}
<br />
<br/>
<div class="row">
    <div class="col-md-3">
       <div id="BlackFont"> <p>Welcome to our page.  We are a growing social media site dedicated to helping Catholics connect</p></div>
    </div>
    <div class="col-md-8">

        <img src="~/images/eCatholic-stock-photo-136.jpg" width=500px>
        <br/>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        
    </div>
    <div class="col-md-8">
        <img src="~/images/sitelogo.png">
    </div>
</div>
<br />




