@{

    ViewData["Title"] = "Profile Page";
}

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<div id="BlackFont"><h2>@ViewData["Title"]</h2></div>
<div class="row">
    <div class="col-md-3">
@if (SignInManager.IsSignedIn(User))
{

    <p>

        <div id="BlackFont">Hello @UserManager.GetUserName(User)!</div>

    </p>
}
else
{
    <h3> Not logged in</h3>
}
        </div>
        </div>
            <div class="col-md">
                <div class="pull-right">
                    <button type="button" class="btn btn-danger btn-rounded" onclick="location.href = '/DatabaseAccess/UpdateProfile';" value="Update Profile">Update Profile</button>

                </div>
            </div>
<br />
<br />
<div id="BlackFont">
    <div class="row">
        <div class="col-md-3">
            <h2>This will be the profile page</h2>
        </div>
       
    </div>
    <img src="~/images/eCatholic-stock-photo-130.jpg" id="img" />
</div>

