@model CatholicBuddies.Models.UserInfo;
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Register</h2>
<br /><br>
<div class="text-center" id="BlackFont">
    <img src="~/images/sitelogo.png" class="img-rounded" size="100" />
</div>
<br /><br />

   
<form asp-action="Register" class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger">
        <asp:HiddenField id="hfUserID" runat="server" />

    </div>


    <div class="form-group">
        <label class="control-label">Email</label>
        <input asp-for="Email" class="form-control" />
        <asp:HiddenField id="hfEmail" runat="server" />
        <span asp-validation-for="Email" class="text-danger">
            <asp:Label Text="*" runat="server" />

        </span>
    </div>
    <div class="form-group">
        <label class="control-label">Password</label>
        <input asp-for="Password" class="form-control" />
        <asp:HiddenField id="hfPassword" runat="server" />
        <span asp-validation-for="Password" class="text-danger">

        </span>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn-group-lg" />
    </div>
</form>
@{
    if (@TempData["Msg"] != null)
    {
        <script>

            alert('@TempData["msg"]')
        </script>
    }
}
</div>

