/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */


    a:link {
        color: white;
    }

    a:visited {
        color: white;
        text-decoration:none;
    }

    a:hover {
        color: yellow;
        text-decoration:none;
    }

    a:focus {
        color: white;
    }

    a:active {
        color: white;
    }


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar-inverse {
    background-color: #c0111F;
    color: white !important
}

#SiteNavBar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: #C0111F;
    margin: 0px;
}

#CBSearch {
    height:24px;
    width:400px;
    margin-top:16px;
    align-content:center;
}
#navLabels {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    float: left;
    margin-top: 5px;
}
#LogOutLink {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    float: left;
    margin-top: 10px;
    margin-left: 50px;
}
#HomeLogo {
   margin-top:4px;
   margin-bottom:5px;
   font-size:medium;
   max-height:34px;
}
#CBLogo {
    margin-top: 8px;
    font-size: medium;
    color: white !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif margin-top:4px;
}
#ProfileLink {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white !important;
    float: left;
    margin-top: 5px;
}
.container {
    color: white !important;
}
.navbar-inverse .navbar-nav > li > a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
    .navbar-inverse .navbar-nav > li > a:hover {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: yellow;

    }

#BlackFont {
    color: black !important;
}
#success_message {display:none;}
#img {
    max-width: 50%;
    max-height: 100vh;
    height: auto;
}